* {
    font-family: 'Poiret One', Arial;
}
a:link{
    text-decoration: none;
}

#cover-photo {
    width: 100%;
    min-width: 1200px;
    margin-left: -10px;
    margin-top: -10px;
    margin-bottom: -12px;
}
.cover-image { 
    position: relative; 
    width: 100%; /* for IE 6 */
}
.title { 
    position: absolute; 
    z-index:100;
    top: 5px; 
    padding: 10px;
    /*left: 10px; */
    width: 100%; 
    font-size: 20px;
}

.toolbar{
    top: 30px;
    white-space: nowrap;
    z-index: 100;
    margin:20px;
    padding:0px;
    position: absolute;
    font-size: 25px;
    border: 5px;
}.toolbar li{
    border: 1px solid;
    -webkit-border-radius: 0.3em;
    -moz-border-radius: 0.3em;
    padding: 5px;
    color: black;
    box-shadow: 5px 5px 1px #888888;
    display:inline-block;
}
.toolbar A:link{
    color:darkorange;
}
.toolbar A:visited{
    color:darkorange;
}
/*.toolbar:hover li{
    box-shadow: 0px 0px 0px #fff;
}*/
/*a.home:hover {
    box-shadow:0px 0px 0px #fff;
}*/

.contact {
    position: absolute;
    z-index:100;
    bottom: 50px;
    width: 100%;
    padding: 10px;
}
.contact A:link {
    color:pink;
}
.contact A:visited {
    color:pink;
}
.contact A:hover {
    font-style:italic;
}


