

* {
	background-image: url(wildflowers.jpg);
	font-family: 'Poiret One', Arial;
    } #background {
    width:100%;
    height:100%;
    background-repeat: no-repeat;
    opacity:.5;}

a:link{
	color: black;
	text-decoration: none;
}a:visited{
	color: black;}

.title{
	color: #606060;
	text-shadow: .03em .03em #000;
	outline:#ff6a00 thick;
	font-weight: bold;
    font-size: 35px;
}a.title:hover {
	color:#808080;
	font-weight:bold;
}

.contact{
	white-space: nowrap;
	color: #606060;
	text-shadow: .02em .02em #000;
	outline:#ff6a00 thick;
    font-size: 20px;
	margin:0px;
 	padding:0px;
}.contact li{
 	display:inline-block;
}a.email:hover{
	font-style: italic;
	color: #3e2d84;
}a.facebook:hover{
	font-style: italic;
	color: #3415b0;
}a.github:hover{
	font-style: italic;
	color: #6549d8;
}

.toolbar{
	white-space: nowrap;
	margin:20px;
	padding:0px;
	position: relative;
	font-size: 25px;
	border: 5px;
}.toolbar li{
	border: 1px solid;
	-webkit-border-radius: 0.3em;
    -moz-border-radius: 0.3em;
    padding: 5px;
    color: black;
    box-shadow: 5px 5px 1px #888888;
    display:inline-block;
}a.minigame li{
	background: #ffb573;
}a.resume li{
	background: #ffa240;
}a.running li{
	background: #ff7800;
}a.projects li{
	background: #bf7130;
}a.about li{
	background: #a65500;
}a.minigame:hover li{
	background-color:#1e776d;
	box-shadow: 0px 0px 0px #fff;
}a.resume:hover li{
	background-color:#00675c;
	box-shadow: 0px 0px 0px #fff;
}a.running:hover li{
	background-color:#009e8e;
	box-shadow: 0px 0px 0px #fff;
}a.projects:hover li{
	background-color:#34cfbe;
	box-shadow: 0px 0px 0px #fff;
}a.about:hover li{
	background-color:#5dcfc3;
	box-shadow: 0px 0px 0px #fff;
}

