html {
	font-family: BookAntiqua;
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 5%;
}
header{
	font-size: 80px;
	font-family: BookAntiqua-Bold;
}

#headerBar {
    height: 10px;
    background: black	
}
section {
	font-size: 50px;
	padding: 20px 20px 20px 20px;
}
.button {
	width: 300px;
    height: 200px;
	text-align: center;

}
.resume-bt {
	background: #FF8C00;
}
.running-bt{
	background: #19A3FF;
}

.projects-bt {
	background: #47D147
}
.aboutme-bt{
	background: #B870FF
}


a:hover {
	background-color: white;
}

a:link {
	color: black;
	text-decoration: none;
}

#footerBar {
    height: 0px;
    background: black
}
